{{ define "main" }}
<h1>{{ .Title }}</h1>
<!-- <h2>{{ .Date.Format  "January 2, 2006"}}</h2> -->

{{ range.Site.Data.state}}

<h1>{{ . }}</h1>
<h2>{{ .name }}</h2>
<p>hello{{ .capital }}</p>
Location : {{ .lat }}, {{ .long }} 
{{ end }}

{{ .Content }}

{{ if (not ($.Site.Params.disable_debug)) }} {{ partial "debugprint.html" . }}
{{ partial "debugprint.html" .Params }} {{ partial "debugprint.html" .Site }}
{{ partial "debugprint.html" .Site.Menus }}
{{ partial "debugprint.html" .Resources }} {{ partial "debugprint.html" .File }}

{{ end }} {{ end }}
